services:
  db:
    container_name: db
    image: postgres:16
    restart: unless-stopped
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 20
  
  db-seeder:
    image: postgres:16
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./database:/seed
    environment:
      DB_NAME: app
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
    command: >
      bash -lc "
        echo 'Waiting for Postgres: ';
        echo $${DB_NAME};
        until pg_isready -h $${DB_HOST} -U $${DB_USER} -d $${DB_NAME}; do sleep 1; done;
        export PGPASSWORD=\"$${DB_PASSWORD}\";
        echo 'Running SQL seed files...';
        for f in ./seed/*.sql; do
          echo 'Executing' $$f;
          psql -h $${DB_HOST} -U $${DB_USER} -d $${DB_NAME} -v ON_ERROR_STOP=1 -1 -f \"$$f\";
        done;
        echo 'All seed files executed successfully.';
      "


  listing-service:
    build: ./listing-service
    container_name: listing-service
    env_file:
      - ./.env
      - ./listing-service/.env
    ports:
      - "${LISTING_PORT}:${LISTING_PORT}"
    depends_on:
      db-seeder:
        condition: service_completed_successfully

  orchestrator:
    build: 
      context: .
      dockerfile: ./orchestrator/Dockerfile
    container_name: orchestrator
    env_file:
      - ./.env
      - ./orchestrator/.env
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable
    depends_on:
      db-seeder:
        condition: service_completed_successfully  
volumes:
  pgdata:
